.btn {
  margin-right: 10px;
  /* Add space between buttons */
  margin-bottom: 10px;
  /* Add space below buttons in case of small screens */
}

.btn-show-all {
  background-color: #f0f0f0;
  color: #000;
}

.btn-tshirt {
  background-color: #4CAF50;
  color: white;
}

.btn-cup {
  background-color: #ff9800;
  color: white;
}

.btn-food {
  background-color: #f44336;
  color: white;
}

.btn-shampoo {
  background-color: #2196F3;
  color: white;
}